<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List employee</title>
</head>
<body>
<h3>employees</h3>
<p>
    <a th:href="@{/employees/create}">
        Add new employee
    </a>
</p>

<p>
<form th:action="@{/employees/findByName}" method="GET" novalidate="novalidate">
    <input type="text" th:name="name"/>
    <input type="submit" value="Search"/>
</form>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>

<table id = "employees">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Department</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e,eStatus : ${employees}">
        <td th:text="${e.getIdEmployee()}"></td>
        <td th:text="${e.getName()}"></td>
        <td th:text="${e.getAge()}"></td>
        <td th:text="${e.getSalary()}"></td>
        <td th:text="${e.department.getNameDepartment()}"></td>
        <td><a th:href="@{/employees/update/{id}(id=${e.getIdEmployee()})}">update</a></td>
        <td><a th:href="@{/employees/delete/{id}(id=${e.getIdEmployee()})}" onclick="return confirmDelete()">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
<script>
    function confirmDelete() {
        let result = confirm("Bạn có chắc muốn xoá thông tin này?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>

</html>